{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 bg-info" style="margin-top: 10%; padding: 30px;">
                <h1>Edit comment</h1>
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}

                <input type="submit" value="Update"
                       class="btn btn-default pull-left"/>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}