{% extends 'AppBundle:Default:ajax_scrollable.html.twig' %}

{% block body %}
    <div class="search-results-container">
        {% if count == 0 %}
        <h1> Nothing found</h1>
        {% endif %}


        {% if posts is not empty %}
            <h1 class="text-center"><span style="color: #7a43b6">{{ count }}</span> posts found:</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="body-container img-rounded col-md-6 col-md-offset-3" style=" margin-top: 15px; padding: 15px">

                        {% include 'AppBundle:Default:postsList.html.twig' %}

                    </div>
                </div>
            </div>

        {% endif %}

    </div>

{% endblock %}
