{% extends '::admin_base.html.twig' %}
{% block body %}
{{ parent() }}
<h1>Total comments({{ allComments() }})</h1>
    <div class="admin-posts">
        {% include 'AppBundle:Admin/Comment:commentList.html.twig' %}
    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function loadRows() {
            var url = $('.pagination span a').attr('href');
            $.get(url, function (data) {
                var content = $(data),
                        articlesList = content.closest('.blog-article'),
                        nextLink = content.find('.next-page');
                $('.admin-posts').append(articlesList);
                if (nextLink.length) {
                    $('.pagination').html(nextLink);
                } else {
                    $('.pagination').remove();
                }
            });
        }
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height() && $('.pagination span a').length) {
                loadRows();
            }
        });
    </script>

{% endblock %}