{% extends 'AppBundle:Default:ajax_scrollable.html.twig' %}
{% block body %}

    <div class="search-results-container">

        <h1 class="text-center"><span style="color: #7a43b6">{{ count }}</span> posts have tag <span style="color: #7a43b6">#{{ tag }}</span></h1>
        {% if posts is not empty %}

                <div class="pull-left center-block body-container img-rounded col-md-8" style="padding: 15px">

                    {% include 'AppBundle:Default:postsList.html.twig' %}

                </div>
                <div class="pull-left col-md-4">
                    {% include 'AppBundle:Default:sidebar.html.twig' %}
                </div>
                <div class="clearfix"></div>

        {% endif %}

    </div>

{% endblock %}