{% extends 'AppBundle:Default:ajax_scrollable.html.twig' %}
{% block body %}

    <div class="search-results-container">

        {% if posts is not empty %}

            <div class="pull-left center-block body-container img-rounded" style=" margin-top: 75px; padding: 15px">

                {% include 'AppBundle:Default:postsList.html.twig' %}

            </div>
        {% endif %}

    </div>

{% endblock %}