{% extends 'base.html.twig' %}
{% block body %}
    <div class="center-block" style="width: 800px">
        <h2 style="padding-top: 60px; margin-top: 0px">Posts with tag {{ tag.name }}</h2>
        {% if tag.posts is empty %}
            <h2>
                Sorry, there are no posts associated with tag <span class="text-danger">{{ tag.name }}</span>
            </h2>
        {% endif %}
        {% for post in tag.posts %}
            <p>
                <a href="{{ path('show_post', {'slug': post.slug}) }}">
                    {{ post.title }}
                </a>
            </p>
        {% endfor %}
    </div>


{% endblock %}