{% extends '::admin_base.html.twig' %}

{% block body %}
<h1>Create a new post</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" value="Create"
           class="btn btn-default pull-left" />
    {{ form_end(form) }}
{% endblock %}