{% extends 'AppBundle:Default:ajax_scrollable.html.twig' %}
{% block body %}
    <div class="content-container center-block">
        <div class="clearfix">
            <div class="pull-left center-block body-container img-rounded" style="border: 1px solid lavender; margin-top: 75px; padding: 15px">

                {% include 'AppBundle:Default:postsList.html.twig' %}

            </div>
            <div id="homepage-sidebar" class="pull-left img-rounded">
                {% include 'AppBundle:Default:sidebar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
