{% extends 'AppBundle:Default:ajax_scrollable.html.twig' %}
{% block body %}
    <div class="content-container center-block container-fluid">
        <div class="row center-block">

            <div class="body-container col-md-6 col-md-offset-2 col-sm-12"
                 style="border: 1px solid lavender; margin-top: 75px; padding: 15px; overflow: hidden">

                {% include 'AppBundle:Default:postsList.html.twig' %}

            </div>
            <div id="homepage-sidebar" class="col-md-3 col-md-push-0 col-sm-offset-12 col-md-offset-0 col-xs-offset-12">
                {% include 'AppBundle:Default:sidebar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
