body {margin: auto;}
.body-container {padding: 20px;}
#homepage-sidebar {width: 285px; padding-left: 35px; margin-left: 10px; padding-top: 50px}
.post-preview {width: 400px; padding: 20px}
.homepage-body-container {padding-right: 5px}
.post-preview-container {margin-top: 50px}
#header-menu {background-color: #dbdbdb; height: 120px;}
.content-container {width: 1100px; background-color: white}
#last-comments-container {width: 250px; padding: 20px}
#single-post-container {width: 1000px; background-color: white; padding: 50px}
.comment-form {width: 500px}